<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism" />
  </configSections>
  <modules>
    <module assemblyFile="LMaML.Windowing.dll" moduleType="LMaML.Windowing.WindowingModule, LMaML.Windowing, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="WindowingModule" startupLoaded="true" />
    <module assemblyFile="LMaML.FMOD.dll" moduleType="LMaML.FMOD.FMODModule, LMaML.FMOD, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="FMODModule" />
    <!--<module assemblyFile="LMaML.BPlusTree.dll" moduleType="LMaML.BPlusTree.BPlusTreeModule, LMaML.BPlusTree, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="BPlusTreeModule" startupLoaded="true"/>-->
    <!--<module assemblyFile="LMaML.NHibernate.dll" moduleType="LMaML.NHibernate.NHibernateModule, LMaML.NHibernate, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="NHibernateModule" startupLoaded="true"/>-->
    <module assemblyFile="LMaML.MongoDB.dll" moduleType="LMaML.MongoDB.MongoDBModule, LMaML.MongoDB, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="MongoDBModule" startupLoaded="true" />
    <module assemblyFile="LMaML.Services.dll" moduleType="LMaML.Services.ServicesModule, LMaML.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ServicesModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="FMODModule" />
        <!--<dependency moduleName="BPlusTreeModule"/>-->
        <!--<dependency moduleName="NHibernateModule"/>-->
        <dependency moduleName="MongoDBModule" />
      </dependencies>
    </module>
    <module assemblyFile="LMaML.Library.dll" moduleType="LMaML.Library.LibraryModule, LMaML.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="LibraryModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="ServicesModule" />
      </dependencies>
    </module>
    <module assemblyFile="LMaML.PlayerControls.dll" moduleType="LMaML.PlayerControls.PlayerControlsModule, LMaML.PlayerControls, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="PlayerControlsModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="ServicesModule" />
      </dependencies>
    </module>
    <module assemblyFile="LMaML.Playlist.dll" moduleType="LMaML.Playlist.PlaylistModule, LMaML.Playlist, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="PlaylistModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="ServicesModule" />
      </dependencies>
    </module>
    <module assemblyFile="LMaML.Visualization.dll" moduleType="LMaML.Visualization.VisualizationModule, LMaML.Visualization, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="VisualizationModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="ServicesModule" />
        <dependency moduleName="PlayerControlsModule" />
      </dependencies>
    </module>
    <module assemblyFile="LMaML.exe" moduleType="LMaML.MainModule, LMaML, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="MainModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="ServicesModule" />
      </dependencies>
    </module>
    <module assemblyFile="LMaML.Settings.dll" moduleType="LMaML.Settings.SettingsModule, LMaML.Settings, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="SettingsModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="ServicesModule" />
      </dependencies>
    </module>
  </modules>
</configuration>